.background {
  background: center no-repeat url("https://www.simplilearn.com/ice9/banners/home_page_banners/1280x565/new_banner.jpg");
}

.logo {
  background-image: url("https://www.simplilearn.com/ice9/banners/home_page_banners/1280x565/new_banner.jpg");
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url("https://www.simplilearn.com/ice9/banners/home_page_banners/1280x565/new_banner.jpg");
}

.watermark {
  background-image: url("https://www.simplilearn.com/ice9/banners/home_page_banners/1280x565/new_banner.jpg");
  background-size: 57px 57px;
}
