.background {
  background: url(background.png) no-repeat;
  background-size: cover;
}
.logo {
  background-image: url(watermark.png);
}
.progressBar {
  background-color: rgb(11,153,214);
}
.splash {
  background-image: url(background.png);
}
.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
