.background {
  background: url(background.png);
}
.logo {
  background-image: url(watermark.png);
}
.progressBar {
  background-color: rgb(155, 255, 100);
}
.splash {
  background-image: url(background.png);
}
.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
